:root {
  /* CSS HEX */
  --main-color: #264653ff;
  --persian-green: #2a9d8fff;
  --orange-yellow-crayola: #e9c46aff;
  --sandy-brown: #f4a261ff;
  --burnt-sienna: #e76f51ff;

  --background-page: #ffff;
  --height-header: 60px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-page);
  height: 100vh;
}

.header {
  height: var(--height-header);
  background-color: #ffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header-image {
  width: 45px;
  margin-right: 1rem;
}

.header > .header-title {
  font-size: 1.5rem;
  color: var(--main-color);
}

main {
  height: calc(100% - var(--height-header));
  background-color: #f3f8fb;
}
